@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

:root {
	--monospace: 'Roboto Mono', monospace;
	--sans-serif: 'Poppins', sans-serif;

	--color: #444;
	--color-2: #666;
	--border: #CCC;
	--bg: #F9F9F9;
	--bg-2: #FFF;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--sans-serif);
	color: var(--color-2);
	line-height: 1.4;
	font-size: 15px;
	background-color: var(--bg);
}

h3 {
	color: var(--color);
}

#options dt {
	color: var(--color);
	font-weight: bold;
}

#options dd {
	margin: 0;
}

.container {
	padding: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid orange; */
}

.content {
	width: 100%;
	max-width: 1000px;
	/* border: 1px solid gray; */
}

.flex {
	display: flex;
	gap: 20px;
}

.flex.column {
	flex-direction: column;
	align-items: flex-start;
}

.flex.row {
	flex-direction: row;
}

.flex.middle {
	align-items: center;
}

.flex.center {
	justify-content: center;
}

.border {
	border-radius: 5px;
	border: 1px solid var(--border);
	padding: 10px;
}

.blink {
	animation: blink 2s infinite;
}

#menu {
	width: 100%;
	max-width: 350px;
	background-color: var(--bg-2);
	border-radius: 8px;
	padding: 20px;
}

.input {
	font-family: var(--sans-serif);
	font-size: 1rem;
	padding: 8px 10px;
	border: 1px solid var(--border);
	border-radius: 5px;
	outline: 0;
	background-color: transparent;
	max-width: 500px;
}

#datetime {
	font-family: var(--monospace);
	display: none;
}

#datetime.visible {
	display: flex;
}

#date {
	text-align: center;
}

#time {
	font-size: 2.5rem;
}

#title {
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid var(--border);
	text-align: center;
	padding: 8px;
	width: 100%;
}

#count {
	font-size: 3rem;
	font-family: var(--monospace);
	text-align: center;
}

.btn {
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 10px;
	width: min-content;
	font-size: 1rem;
	transition: .3s;
}

.btn:disabled {
	background-color: transparent !important;
	border: 1px dashed var(--border);
	color: var(--color-2) !important;
}

.btn:focus {
	outline: 2px dashed var(--color-2);
}

#add {
	background-color: #365B67;
	color: #FFF;
	width: 100%;
	max-width: 600px;
	font-size: 3rem;
	aspect-ratio: 5/1;
}

#hamburguer {
	display: none;
}

@keyframes blink {
	0%, 49%, 100% {visibility: visible;}
	50%, 99% {visibility: hidden;}
} 

@media (max-width: 900px) {
	#menu {
		position: absolute;
		max-width: unset;
		left: -110%;
		transition: .5s;
		/* min-height: 100%; */
		border-radius: 0;
		box-shadow: 2px 2px 2px #0002;
	}

	#menu.active {
		left: 0;
	}

	#hamburguer {
		display: block;
	}
}