@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

:root {
	--monospace: 'Roboto Mono', monospace;
	--sans-serif: 'Poppins', sans-serif;

	--color: #444;
	--color-2: #666;
	--border: #CCC;
	--bg: #F9F9F9;
	--bg-2: #FFF;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--sans-serif);
	color: var(--color-2);
	line-height: 1.2;
	font-size: 15px;
	background-color: var(--bg);
}

h3 {
	color: var(--color);
}

.options dt {
	color: var(--color);
	font-weight: bold;
}

.options dd {
	margin: 0;
}

.container {
	padding: 0 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1250px;
	/* border: 1px solid gray; */
	padding: 15px;
	gap: 20px;
}

.content .content .content {
	padding: 0;
	padding-left: 10px;
}

.row {
	flex-direction: row;
}

#menu {
	width: 100%;
	max-width: 350px;
	background-color: var(--bg-2);
	border-radius: 8px;
	/* box-shadow: 2px 2px 2px #0002; */
}

.input {
	font-family: var(--sans-serif);
	font-size: 1rem;
	padding: 5px;
	border: 1px solid var(--border);
	border-radius: 5px;
	outline: 0;
	background-color: transparent;
}

#time {
	font-size: 2.5rem;
	font-family: var(--monospace);
}

#title {
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid var(--border);
	text-align: center;
	padding: 8px;
}

#count {
	font-size: 3rem;
	font-family: var(--monospace);
	text-align: center;
}

.btn {
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 10px;
	width: min-content;
	margin: 0 auto;
}

#add {
	background-color: #365B67;
	color: #FFF;
	width: 100%;
	max-width: 600px;
	font-size: 3rem;
	aspect-ratio: 5/1;
}